#OS {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    background-color: #008080;
    display: flex;
    flex-direction: column;
    overflow: hidden; /*The drag handles can cause the window to invisibly extend slightly past the bounds of the page
     you grow them off to the right or bottom. Also, in general, if something does make it off screen, letting it get
     cut off looks less bugged then adding scrollbars*/
}

#taskbar {
    --taskbar-shadow-size: 2px;
    background: #c0c0c0;

    box-shadow:
            0 calc(var(--taskbar-shadow-size) / 2 * -1) 0 0 #ffffff,
            0 calc(var(--taskbar-shadow-size) * -1) 0 0 #dfdfdf;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: var(--taskbar-shadow-size); /* So that windows cant be dragged into the drop shadow*/
}

#drag-area {
    flex: 1;
}

.taskbar-button {
    min-width: 0;
    margin: 2px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    padding: 5px;
}

.divider-1 {
    margin: 2px;
    width: 0;
    position: relative;
    height: 26px;
    border-left: solid 1px #808080;
    border-right: solid 1px #ffffff;
    cursor: w-resize;
}
/*Expand interactable area*/
.divider-1::before {
    content: "";
    position: absolute;
    right: -5px;
    left: -5px;
    top: 0;
    bottom: 0;
}

.divider-2 {
    width: 1px;
    height: 20px;
    background-color: #c0c0c0;
    box-shadow:
            0px -1px 0 0 #ffffff,
            -1px -1px 0 0 #ffffff,
            1px -1px 0 0 #808080,

            -1px 0px 0 0 #ffffff,
            -1px 1px 0 0 #808080,

            0px 1px 0 0 #808080,
            1px 1px 0 0 #808080;
    margin: 2px;
    margin-right: 5px;
}

#taskbar-right {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#status-menu {
    height: 20px;
    margin: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px
}

#clock {
    margin: 0;
    font-family: Pixelated MS Sans Serif, Arial, sans-serif;
    user-select: none;
}

#logo {
    width: 15px;
    margin-right: 3px;
}

#desktop {
    height: 100%;
    width: 100%;
}

/* This is so we can attach the drag handle to title-bar-text so it doesnt include the navigation buttons */
.title-bar-text {
    flex: 1;
    justify-content: flex-start;
}
